* {
  box-sizing: border-box;
}

body {
  background-color: rgb(168, 214, 168);
  .world {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

    .status {
      display: flex;
      margin-bottom: 15px;
      .indicator {
        height: 100%;
        transition: all 0.3s;
        border-radius: 10px;
      }
      .health {
        height: 30px;
        .indicator {
          background-color: rgb(202, 81, 81);
        }
      }

      .energy {
        height: 30px;
        .indicator {
          float: right;
          width: 100%;
          background-color: rgb(62, 93, 161);
        }
      }
    }
  }

  .inventory {
    display: flex;
    justify-content: center;
    :last-child {
      margin-right: 0 !important;
    }
    .inventory-item {
      width: 6rem;
      height: 6rem;
      border: 2px solid brown;
      border-radius: 1rem;
      margin-right: 1rem;
    }
  }

  .half {
    width: 50%;
  }
}
